---
title: "New Meltano personas, priorities, and updates from the team"
author: Jacob Schatz
author_gitlab: jschatz1
author_twitter: jakecodes
categories: engineering
image_title: '/images/blogimages/meltano-fgu.jpeg'
description: "There's a lot going on — here are some of the highlights on user research, dogfooding Meltano, embedding engineers, and hiring!"
tags: demo, features, git, inside GitLab, workflow
ee_cta: false #
twitter_text: "Read all about the new @meltanodata personas, priorities, and updates from the team"
---
Jacob Schatz here, Staff Engineer for [Meltano](https://gitlab.com/meltano)! We've been heads down working on improving Meltano, and figured it was time for an update. We've had some great conversations that have helped us identify two general personas. Our team is also growing, and we're ready for frontend contributions, but more on that later. 

 <%= partial "includes/blog/content-newsletter-cta", locals: { variant: "b" } %>

We've been conducting interviews to zero in on what our users will want, what they're currently doing, and what tools they're using. Over the course of those conversations, we saw two main scenarios emerge. People either wanted a command line interface (CLI) or a graphical user interface (GUI). The GUIs that exist are painful to use, and not very intuitive. In both scenarios, people we spoke with are frustrated. This goes back to the original reason [we decided to create Meltano](/2018/08/01/hey-data-teams-we-are-working-on-a-tool-just-for-you/) — our data team members were relying on frustrating and expensive toolsets with poor UIs.


### What are the Meltano personas?

Our conversations revealed two general types of users:
* Users who have engineers on staff
* Users who do not have engineers on staff, or their engineers do not have bandwidth to help them

The Data team at GitLab, for example, has data engineers on staff who are willing, able, and happy to write Python. We won't be able to write every extractor and loader, so our users can follow our [specifications](https://gitlab.com/meltano/specifications), which are based off of the [Singer specifications](https://github.com/singer-io/getting-started). We want to make that as easy as possible, so Meltano can be the glue between all these different pieces. 

For the other teams who don’t have the technical resources, we want to make it as if they had engineers on staff. Ideally, they'll just need to click a couple of buttons, run extract, load and transform with the extractors and loaders that we already have. Hopefully in the future the community can contribute more to these types of different extractors and loaders.

You can check out our updated [readme](https://gitlab.com/meltano/meltano/blob/master/README.md) with more info about Meltano and our personas. We're working iteratively, so if you have a different setup or scenario to share, we want to hear from you about your experience! Get in touch with us and tell us about your struggles or successes with your data team. 

### What’s next?

We're focused on our own CLI and GUI, and continuing to build more extractors and loaders (or ["taps and targets"](https://www.singer.io/)). We will be the glue that ties everything together. While current Singer taps and targets support extracting and loading, we'll be supporting much more, like removal of PII. Our CLI will support all of this from one configuration. We also want the CLI to have a really nice user experience, so I'm working with GitLab UX to help make it happen. 

As always, we’re looking for contributors! In the [Dashboard project](https://gitlab.com/meltano/dashboard) you’ll see the Chart.js library that I’m building to make really nice dashboards for Meltano. Although we've had a ton of great Python contributions, we haven’t had as many contributors to the frontend, so we’d love your help there.

### In other news
There's a lot going on, here are some of the highlights!

#### Dogfooding
In my experience, unless one experiences the direct results of the code they write, and feel the pain their users feel when they hit a bug, one might not correctly solve the problem. Currently, we fulfull the data team's requests, but if something doesn't work they merely report back to us, without us experiencing the pain ourselves. We're changing how we work in order to imprint the idea that if something is broken, it's the Meltano team's responsibility. We’re all investigating every single pipeline failure, regardless of whose “fault” it is, because these suggest that it may be a poor user experience. 

#### Embedded engineers
In order to dogfood better, we've taken a data engineer from the data team, and an engineer from the Meltano team. They split their work 50/50 so each does half of their usual work and half of each other's work. It's already made a huge difference by giving us more eyes and ears on lots of issues, and allowing the engineers to approach problems from a different angle. Another added benefit is that every Meltano engineer gets direct exposure and experience from the data team, to make them better data scientists as well product engineers.

#### Hiring
We're hiring a [Fullstack Engineer](https://about.gitlab.com/jobs/apply/?gh_jid=4101613002), a [Senior Product Manager](https://about.gitlab.com/jobs/apply/?gh_jid=4059265002), and a [General Manager](https://about.gitlab.com/jobs/apply/?gh_jid=4059274002)! The Fullstack Engineer will work on building more taps and targets, and potentially help the data team with their work. It's fine if you're not an expert data analyst, or data engineer; we are also looking for really strong JavaScript and Python engineers. The General Manager will act as the CEO of Meltano, reporting to [Sid](https://about.gitlab.com/team/#sytses), the CEO of GitLab. This person will help us figure out our larger vision, do research, and meet people. I don’t really know what those duties should be, which is why we need you to join! 


That's all for now, get in touch with us in our [issue tracker](https://gitlab.com/groups/meltano/-/boards), and tweet us [@meltanodata](https://twitter.com/meltanodata)! 


Cover [image](https://unsplash.com/photos/2FPjlAyMQTA) by [John Schnobrich](https://unsplash.com/@johnschno) on Unsplash
{: .note}

[Emily von Hoffmann](https://about.gitlab.com/team/#emvonhoffmann) contributed to this post. 
{: .note}
