---
title: GitLab Analyst Report
description: Download this analyst report on GitLab
suppress_header: true
extra_css:
  - styles-2018.css
  - webcast.css
---

<div class="webcast-header">
  <div class="webcast-info">
    <h1><%= report.title %></h1>
    <p><%= report.subtitle %></p>
  </div>
</div>

<div class="gitlab-content-container">
  <div class="webcast-content">
    <div class="share-container">
      <p>Share:</p>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://about.gitlab.com<%= current_page.url %>" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href=" https://twitter.com/intent/tweet?url=https%3A%2F%2Fabout.gitlab.com<%= current_page.url %>&via=gitlab&text=Check%20out%20this%20analyst%20report%20on%20GitLab%3A%20&hashtags=gitlab%2Canalystreport" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/shareArticle?url=https://about.gitlab.com<%= current_page.url %>&summary=<%= report.title %>">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="http://www.reddit.com/submit?url=https://about.gitlab.com<%= current_page.url %>&title=Post%20to%20Reddit%20via%20URL" target="_blank">
        <i class="fab fa-reddit"></i>
      </a>
    </div>
    <div class="webcast-content-section">
      <%= partial report.include_file %>
    </div>
  </div>
  <% if report.form %>
    <div class="form-container">
      <h3>Download the report:</h3>
      <p class="font-small">If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.</p>
      <div class="form">
        <script src="//app-ab13.marketo.com/js/forms2/js/forms2.min.js"></script>
        <form id="mktoForm_<%= report.form %>"></form>
        <script type="text/javascript">
          var formNumber = <%= report.form || 'null' %>;
          MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", formNumber, function(form) {
            form.onSuccess(function() {
              form.getFormElem().hide();
              $('.confirmform').attr('style', 'visibility: visible');
              $('.confirmform').attr('style', 'height: initial');
              return false;
            });
          });
        </script>
        <div class="confirmform" style="visibility:hidden;height:0;">
          <div class="centered-form-info">
            <h3>Registration received!</h3>
            <p>Thank you for registering. You will receive an email with additional webcast details.</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
